<%- include('../includes/header.ejs',{authority:authority}) %>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw7fIXJz5sA9IEcczMJ9FIzK91jvFIsno&libraries=places"
  async
  defer
></script>

<script>
  function initializeAutocomplete() {
    var input = document.getElementById("address");
    var autocomplete = new google.maps.places.Autocomplete(input);
  }
  google.maps.event.addDomListener(window, "load", initializeAutocomplete);
</script>

<div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="card">
      <%- include('../includes/flash.ejs') %>
      <div class="card-header d-flex justify-content-between">
        <div class="header-title">
          <h4 class="card-title">Add New Events</h4>
        </div>
      </div>
      <div class="card-body">
        <form
          id="form-wizard1"
          class="mt-3 text-center"
          action="/addEvent"
          method="POST"
          enctype="multipart/form-data"
        >
          <ul id="top-tab-list" class="p-0 row list-inline">
            <li class="mb-2 col-lg-3 col-md-6 text-start active" id="account">
              <a href="javascript:void();">
                <div class="iq-icon me-3">
                  <svg
                    class="svg-icon icon-20"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M8 11V7a4 4 0 118 0m-4 8v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2z"
                    />
                  </svg>
                </div>
                <span class="dark-wizard">Event</span>
              </a>
            </li>
            <li id="personal" class="mb-2 col-lg-3 col-md-6 text-start">
              <a href="javascript:void();">
                <div class="iq-icon me-3">
                  <svg
                    class="svg-icon icon-20"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
                    />
                  </svg>
                </div>
                <span class="dark-wizard">Organizer</span>
              </a>
            </li>
            <li id="payment" class="mb-2 col-lg-3 col-md-6 text-start">
              <a href="javascript:void();">
                <div class="iq-icon me-3">
                  <svg
                    class="svg-icon icon-20"
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"
                    />
                  </svg>
                </div>
                <span class="dark-wizard">Additional</span>
              </a>
            </li>
          </ul>
          <!-- fieldsets -->
          <!-- Update the value attribute of each input field with the corresponding JSON data -->

          <!-- Account Information -->
          <fieldset>
            <div class="form-card text-start">
              <div class="row">
                <div class="col-7">
                  <h3 class="mb-4">Event Details:</h3>
                </div>
                <div class="col-5">
                  <h2 class="steps">Step 1 - 3</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Event Name: </label>
                    <input
                      type="text"
                      class="form-control"
                      name="eventName"
                      placeholder="abc"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Start Date: </label>
                    <input
                      type="date"
                      class="form-control"
                      name="startDate"
                      placeholder="19-07-2024"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Start Time: </label>
                    <input
                      type="time"
                      class="form-control"
                      name="startTime"
                      placeholder="09:00"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Event Description: </label>
                    <input
                      type="text"
                      class="form-control"
                      name="eventDescription"
                      placeholder="this is event description"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">End Date: </label>
                    <input
                      type="date"
                      class="form-control"
                      name="endDate"
                      placeholder="19-10-2024"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">End Time: </label>
                    <input
                      type="time"
                      class="form-control"
                      name="endTime"
                      placeholder="11:00"
                    />
                  </div>
                </div>
              </div>
            </div>
            <button
              type="button"
              name="next"
              class="btn btn-primary next action-button float-end"
              value="Next"
            >
              Next
            </button>
          </fieldset>

          <!-- Personal Information -->
          <fieldset>
            <div class="form-card text-start">
              <div class="row">
                <div class="col-7">
                  <h3 class="mb-4">Organizer Information:</h3>
                </div>
                <div class="col-5">
                  <h2 class="steps">Step 2 - 3</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Organizer Name: </label>
                    <input
                      type="text"
                      class="form-control"
                      name="organizerName"
                      placeholder="Taher"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Organizer Email: </label>
                    <input
                      type="email"
                      class="form-control"
                      name="organizerEmail"
                      placeholder="taherafsar41@gmail.com"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Organizer Number: </label>
                    <input
                      type="number"
                      class="form-control"
                      name="organizerNumber"
                      placeholder="8356994540"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Collab Organization Name: </label>
                    <input
                      type="text"
                      class="form-control"
                      name="collabOrganizationName"
                      placeholder="NSS"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label"
                      >Collab Organization Email:
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      name="collabOrgEmail"
                      placeholder="nss@gmail.com"
                    />
                  </div>
                </div>
              </div>
            </div>
            <button
              type="button"
              name="next"
              class="btn btn-primary next action-button float-end"
              value="Next"
            >
              Next
            </button>
            <button
              type="button"
              name="previous"
              class="btn btn-dark previous action-button-previous float-end me-1"
              value="Previous"
            >
              Previous
            </button>
          </fieldset>

          <!-- Additional Details -->
          <fieldset>
            <div class="form-card text-start">
              <div class="row">
                <div class="col-7">
                  <h3 class="mb-4">Additional Details</h3>
                </div>
                <div class="col-5">
                  <h2 class="steps">Step 3 - 3</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Event Poster</label>
                    <input
                      type="file"
                      class="form-control"
                      name="eventPoster"
                      accept="image/*"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">
                      Particpation Certificate Template</label
                    >
                    <input
                      type="file"
                      class="form-control"
                      name="participationCertificateTemplate"
                      accept="image/*"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Whatsapp Link: </label>
                    <input
                      type="text"
                      class="form-control"
                      name="whatsAppLink"
                      placeholder="http://chat.whatsapp.com"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Volunteer Responsiblities </label>
                    <input
                      type="text"
                      class="form-control"
                      name="volunteerResponsibilities"
                      placeholder="accounting , managing"
                    />
                  </div>
                  <div class="form-group">
                    <label for="city" class="form-label">City</label>

                    <input
                      disabled
                      type="text"
                      class="form-control"
                      id=""
                      placeholder=" "
                      name="city"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Event Attachment</label>
                    <input
                      type="file"
                      class="form-control"
                      name="eventAttachment"
                      accept="image/*"
                      multiple
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">
                      Volunteer Certificate Template</label
                    >
                    <input
                      type="file"
                      class="form-control"
                      name="volunteerCertificateTemplate"
                      accept="image/*"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label"
                      >Number of Volunteers Needed
                    </label>
                    <input
                      type="number"
                      class="form-control"
                      name="noOfVolunteersNeeded"
                      placeholder="50"
                    />
                  </div>
                  <div class="form-group">
                    <label for="address" class="form-label">Address</label>

                    <input
                      type="text"
                      class="form-control"
                      name="eventAddress"
                      id="locationInput"
                      placeholder=" "
                    />
                  </div>
                  <div class="form-group">
                    <label for="city" class="form-label">City</label>

                    <input
                      type="text"
                      name="eventCity"
                      class="form-control"
                      id="city"
                      placeholder=" "
                    />
                  </div>
                </div>
              </div>
            </div>
            <button
              type="submit"
              name="next"
              id="submitBtn"
              class="btn btn-primary next action-button float-end"
              value="Submit"
            >
              Submit
            </button>
            <button
              type="button"
              name="previous"
              class="btn btn-dark previous action-button-previous float-end me-1"
              value="Previous"
            >
              Previous
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../includes/footer.ejs') %>
