html, body {
    background: #f5f5f5 !important;
  }
  
  .content {
    margin: 50px auto 0;
  }
  
  h1#head {
    font-family: 'Euphoria Script';
    text-align: center;
    margin: 0 0 30px;  
    font-size: 100px;
    line-height: 90px;
    text-shadow: 1px 1px 1px #343434;
    font-weight: normal;
  }
  
  #editor {
    resize:vertical;
    overflow:auto;
    border:1px solid silver;
    border-radius:5px;
    min-height:100px;
    box-shadow: inset 0 0 10px silver;
    padding:1em;
    background: white;
    margin: 0 auto;
    width: 90%;
  }