<% errors.forEach(function(message) { %>
    <div class="alert alert-danger alert-dismissible fade show text-center"><%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }) %>
  
  <% success.forEach(function(message) { %>
    <div class="alert alert-success alert-dismissible fade show text-center"><%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }) %>
  


  