<%- include('../includes/mapHeader.ejs') %>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card border-primary px-4 py-4">
        <div id="map" style="height: 30rem"></div>

        <!-- timeline -->
<div class="py-4"id="timelineContainer">

</div>

      </div>
    </div>
  </div>
</div>

<%- include('../includes/mapFooter.ejs') %>
