<%- include('../includes/mapHeader.ejs') %>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card border-primary">
        <div id="map" style="height: 50rem"></div>
        <div id="directionLink" class="py-4"></div>
      </div>
    </div>
  </div>
</div>

<%- include('../includes/singleRouteFooter.ejs') %>
